/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
  ;
}

a:hover {
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

/* HEADER SCROLL */

.logo a {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 10px;
  background: #f1c40f;
  color: #111;
  transform: all .2s;
}

.logo a:hover {
  border-bottom: none;
}

.toggle-menu {
  display: none;
  font-size: 2rem;
  color: #fff;
  margin: 10px 10px 0 0;
  transition: margin .2s;
}

.nav-item.active {
  border-bottom: 4px solid #e60000;
}

.scroll {
  background: rgba(255, 255, 255, .9);
}

.scroll .logo {
  padding: 10px 20px;
  font-size: 1.5rem;
}

.scroll nav a {
  align-items: center;
  color: #111;
}

.scroll nav a:active {
  border-bottom: 4px solid #e60000;
}

.scroll .logo,
.scroll ul,
.scroll .toggle-menu {
  margin: 0;
}

@media screen and (max-width: 1060px) {
  header {
    padding: 10px;
  }
  nav {
    align-items: center;
  }
  ul {
    display: none;
  }
  .logo {
    font-size: 1.8rem;
    margin: 10px 0 0 10px;
  }
  .toggle-menu {
    display: block;
  }
}

/* HEADER STYLES */

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  z-index: 1;
  top: 0;
  background: transparent;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header a:hover {
  border-bottom: 4px solid #e60000;
  transition: all 0.3s ease;
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 800px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
}

/* HERO STYLES */

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #d1d1e0;
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

/* ABOUT STYLES */

.about {
  flex-direction: row;
  justify-content: center;
  padding: 100px 170px;
}

.title {
  color: #e60000;
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content {
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  max-width: 650px;
}

p {
  margin-top: 0;
  margin-bottom: 25px;
}

/* SKILLS STYLES */

.skills {
  flex-direction: row;
  justify-content: center;
  padding: 100px 170px;
}

.skills-box {
  display: flex;
  justify-content: space-between;
}

.skills-label {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.item {
  margin: 3px 0;
  font-size: .9rem;
}

/* PROJECT STYLES */

.projects {
  flex-direction: row;
  justify-content: center;
  padding: 100px 170px;
}

.yelpcamp {
  display: flex;
  margin-bottom: 100px;
  margin-left: -5%;
  width: 125%;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

figcaption p {
  width: 125px;
  flex-shrink: 0;
  margin-left: 30px;
}

.pt-title {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}